
h5{
    color: grey;
    font-size: 70%;
}
img{
    display: block;
    margin-left: 25%;
    width: auto;
}
.card{
    position:relative;
    height:460px;
    width:300px;
    background-color: white;
    margin:60px auto;
    
}
.header{
    position:absolute;
    height:160px;
    width:250px;
    background-color: black;
    left:90px;
    top:22px;
}
.body{
    position:absolute;
    text-align:center;
    width: 250px;
    top:182px;
    left:90px;
    right:5px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgb(12, 12, 12);
}
.footer{
    position:absolute;
    height:60px;
    width:250px;
    background-color: black;
    color: white;
    left:90px;
    top:347px;
}