body{
    background-color: aliceblue;
}
#map{
    position: relative;
    margin: 50px auto;
    width: 400px;
    height: 400px;
    padding: 1px;
    background-color: lightblue;
    border-radius: 10%;
}